body{
    color: black;
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

header {
    color: black;
    margin: .5rem;
    
}

nav{
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
}
a {
    color: black;
    text-decoration: none;
}

ul {
    display: flex;
    list-style: none; 
    padding: 0;
}
#dropMenu {
    display: none;
}



li {
    padding:.5rem;
}

.logo_default {
    width: auto; 
   margin: auto;
}

.logo_default img {
    min-height: fit-content;
}
.logo {
    margin-left: 1rem;
}

 .hero {
    width: 100%;
    height: 100%;
    background-image: url("images/pexels-tomáš-malík-2581922.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 1.5rem;
    padding-right: 5rem;
}



.heroText {
    font-family: 'Instrument Serif', serif;
    font-size:2.5rem ;
}

input{
    position: relative;
    border: 2px solid gray; 
    padding: 8px 12px;
    width:35vw;
    height: auto;
}

.searchIcon {
    position: absolute;

}



@media(max-width: 896px) {
    li {
        display: none;
    }
    #dropMenu {
      display: flex;
      
     
    }
    
    #closeIcon {
        display:none;
    }
}
